.btn-triangle  {
    position: relative;
  }
  
  .btn-triangle ::after {
    content:"";
    position: absolute;
    right: 0;
    bottom: 0;
    border-left: 16px transparent solid;
    border-bottom: 16px #E6553B solid;
  }
  .btn-triangle :hover::after{
    border-bottom: 16px black solid;
  }
  
  .btn-white{
    background-color: white;
    border:1px solid black;
  }
  .btn-white:hover{
    background-color: #E6553B;
    color: white;
  }
  
  .btn-border:hover{
    background-color: #E6553B;
    color: white;
    border: 1px solid black;
  }
  .title{
    font-family: 'Squada One', cursive;
  }
  .title-button{
    font-family: 'Squada One', cursive;
    font-size: 18px;
  }
  