body{
  font-family:'Noto Sans TC', sans-serif;
  overflow-x:hidden;
  padding-top: 144px;
  
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.bd4{
  border-top: 4px solid #000;
  font-family: 'Noto Sans TC';
  font-size: 16px;
}
.border-bottom{
  border-bottom: 1px solid black;
}
.writing-mode{
  writing-mode: vertical-lr;
  background-color: #000;
  color:white;
  @media(max-width:992px){
    display:none;
  }
}
.image2 img{
  width: 87px;
  height: 91px;
  object-fit: cover;
}
.fontNumber{
  font-family:'Paytone One', sans-serif; //數字
  font-size: 24px;
}
.rankingName{
  font-family: 'Squada One', cursive; //英文字
  font-size: 16px;
}
.icon{
  color: $primary;
  font-size: 40px;
}
.recom{
  font-family: 'Squada One', cursive; //英文字
  font-size: 48px;
  span{
    font-family:'Noto Sans TC', sans-serif;
    font-size: 20px;
  }
}
.secTitle{
  display: none;
}
.lg{
  display: none;
}
.mobile{
  display: block;
}

@media (min-width:992px) {
  .walletBtn{
    display: none;
  }
  .borderRight{
    border-right: 1px solid black;
  }
  .secTitle{
    font-family:'Noto Sans TC', sans-serif;
    font-size: 20px;
    display: inline;
  }
  .recommendTitle1{
    font-size: 48px;
  }
  .recommendTitle2{
    font-size: 32px;
  }
  .pic2{
    width: 50%;
    height: 340px;
    object-fit: cover;
  }
  .lg{
    display: block;
  }
  .mobile{
    display: none;
  }
  .rankingLgPic img{
    width: 100%;
    height: 374px;
    object-fit: cover;
    
  }
  .artworkBdBottom{
    border-bottom: 1px solid black;
  }
  .rankingNum {
    font-family: 'Paytone One', sans-serif;
    width: 64px;
    height: 64px;
    background-color: #fff;
    top: 0px;
    left: 0px;
    z-index: 10;
  }
  
}



@media (max-width:992px) {
  .wallet{
    display: none;
  }
  .bt1{
    border-top: 1px solid black;
  }
  .navbar-brand img{
    max-width: 85px;
    max-height: 18px;
  }
  
  
 
}